.info 
    position: absolute
    top: -150px
    left: 50%
    transform: translateX(-50%)
    max-width: 1110px
    width: 100%
    background-color: #f7f7f7
    padding: 40px 20px

    @media screen and (max-width: 768px) 
        position: relative
  
.about 
    padding-top: 250px
    min-height: 836px
    position: relative
    
    @media screen and (max-width: 1280px) 
        padding: 450px 15px 110px 15px

    @media screen and (max-width: 768px) 
        padding-top: 150px
        padding-bottom: 80px
  
    &_grit 
        display: grid
        grid-template-columns: repeat(4, 1fr)
        gap: 30px
        justify-items: center

        @madia screen and (max-width: 1280px)
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(2, 1fr)

        &-item 
            text-align: center
            width: 190px

    &_h4 
        color: $accent-color
        font-size: 72px
        font-family: $Oswald
        font-weight: $fws
        text-transform: uppercase
        margin-bottom: 5px

    &_h5 
        color: #000
        font-size: 36px
        font-family: $Oswald
        font-weight: $fws
        text-transform: $upp

    &_p 
        color: $gray-color
        font-size: 18px
        font-family: $Oswald
        font-weight: $fws