.h1 
    font-weight: 500
    font-size: 64px
    line-height: 95px
    text-align: center
    letter-spacing: $ls
    text-transform: $upp
    max-width: 734px
    margin: 0 auto 20px
    color: $white-color

.h4 
    font-weight: $fw
    font-size: 18px
    line-height: 27px
    text-align: center
    text-transform: $upp
    max-width: 734px
    color: $white-color
    margin: 0 auto
    
.text-h2 
    @include font ($Oswald, 36px)
    font-weight: $fws
    text-transform: $upp

.text-h3 
    @include font ($Oswald, 24px)
    font-weight: $fws

.text-h4 
    @include font ($Oswald, 21px)
    font-weight: $fws
    letter-spacing: $ls

.text-p 
    @include font ($Open-sans, 16px)

.container 
    max-width: 1110px
    margin: 0 auto

.section_h2 
    margin-bottom: 47px
    color: #000
    text-align: center

.text-p-reviews
    @include font ($Open-sans, 14px)
    line-height: 21px

.rectangl 
    width: 56px
    height: 6px
    background-color: $accent-color
    margin-bottom: 15px
    margin-top: 30px    
    